<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>¿Quiénes Somos?</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="../css/slim.css">

  </head>
  <body>
    <div class="slim-header">
      <div class="container">
        <div class="slim-header-left">
          <h2 class="slim-logo"><a href="">WhatCraft<span>.</span></a></h2>

          <div class="search-box">
            <input type="text" class="form-control" placeholder="Buscar">
            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div><!-- search-box -->
          
        </div><!-- slim-header-left -->
        <div class="slim-header-right">
          <div class="dropdown dropdown-a">
            <div class="dropdown-menu">
              <div class="dropdown-menu-header">
                <h6 class="dropdown-menu-title">Mundo</h6>
                <div>
                  <a href="">Filter List</a>
                  <a href="">Settings</a>
                </div>
              </div><!-- dropdown-menu-header -->
            </div><!-- dropdown-menu-right -->
          </div><!-- dropdown -->
          <div class="dropdown dropdown-b">
            <a href="" class="header-notification" data-toggle="dropdown">
              <i class="icon ion-ios-cart-outline"></i>
              <span class="indicator"></span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-menu-header">
                <h6 class="dropdown-menu-title">Notifications</h6>
                <div>
                  <a href="">Mark All as Read</a>
                  <a href="">Settings</a>
                </div>
              </div><!-- dropdown-menu-header -->
              <div class="dropdown-list">
                <!-- loop starts here -->
                <a href="" class="dropdown-link">
                  <div class="media">
                    <img src="http://via.placeholder.com/500x500" alt="">
                    <div class="media-body">
                      <p><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                      <span>October 03, 2017 8:45am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <!-- loop ends here -->
                
              </div><!-- dropdown-list -->
            </div><!-- dropdown-menu-right -->
          </div><!-- dropdown -->
          <div class="dropdown dropdown-c">
            <a href="#" class="logged-user" data-toggle="dropdown">
              <img src="http://via.placeholder.com/500x500" alt="">
              <span>Katherine</span>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nav class="nav">
                <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i>Ver Perfil</a>
                <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i>Editar Perfil</a>
                <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i>Configuración</a>
                <a href="page-signin.html" class="nav-link"><i class="icon ion-forward"></i>Cerrar Sesión</a>
              </nav>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- header-right -->
      </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="ropa.html">
              <i class=""></i>
              <span>Ropa</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="artesanias.html">
              <i class=""></i>
              <span>Artesanias</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="joyeria.html">
              <i class=""></i>
              <span>Joyeria</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="arte.html">
              <i class=""></i>
              <span>Arte</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="varios.html">
              <i class=""></i>
              <span>Varios</span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quienes.html">
              <i class=""></i>
              <span>¿Quienes somos?</span>
            </a>
          </li>
        </ul>
      </div><!-- container -->
    </div><!-- slim-navbar -->

    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="ropa.html">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">¿Quiénes somos? </li>
          </ol>
          <h6 class="slim-pagetitle">Conócenos</h6>
        </div><!-- slim-pageheader -->


        <div class="section-wrapper mg-t-20  mg-b-20">
          <div class="row">
            <div class="col-md-8">
              <div id="carousel6" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel6" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel6" data-slide-to="1"></li>
                  <li data-target="#carousel6" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src=http://cdn.plataformaurbana.cl/wp-content/uploads/2013/06/1370984629_feria_artesanal_2-1000x667.jpg alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src=http://cdn.plataformaurbana.cl/wp-content/uploads/2012/06/1339491537_12.jpg alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="http://ntrzacatecas.com/content/uploads/2016/12/bufa-3-1-1000x667.jpg" alt="Third slide">
                  </div>
                </div><!-- carousel-inner -->
                <a class="carousel-control-prev" href="#carousel6" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carousel6" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div><!-- carousel -->
            </div><!-- col-8 -->
            <div>
                <p class="mg-b-20"></p>
                <p class="mg-b-20"></p>
                <label class="section-title">Impulsamos el arte guatemalteco</label>
                <p class="mg-b-20"></p>
                    <p class="mg-b-0">Cada expresión artística es la representación </p>
                    <p class="mg-b-0">de la cultura de un País.A lo largo de su</p>
                    <p class="mg-b-0">historia, Guatemala ha producido arte y</p>
                    <p class="mg-b-0">artistas de talla mundial en todas las ramas</p>
                    <p class="mg-b-0">y categorías.</p>
                    <p class="mg-b-20"></p>
                    <p class="mg-b-0">Nuestro propósito es ayudarlos y darlos a</p>
                    <p class="mg-b-0">conocer en cada rincón del mundo.</p>
                    <p class="mg-b-0">Qué todos puedan ver lo talentosa que</p>
                    <p class="mg-b-0">es nuestra gente y las maravillas que </p>
                    <p class="mg-b-0">oculta nuestro país, Guatemala.  </p>

            </div>
          </div><!-- row -->
          <label class="section-title">Acerca de nosotros</label>
          <p class="mg-b-20 mg-sm-b-40">Somos tres jóvenes emprendedores en busca de resaltar las maravillas de su país, Guatemala.</p>

          <div class="row">
            <div class="col-md">
              <div class="card">
                <div class="card-body">
                  <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
                </div><!-- card-body -->
                <div class="card-footer bd-t tx-center">
                  Misión
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-md mg-t-20 mg-md-t-0">
              <div class="card">
                <div class="card-body">
                  <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
                </div><!-- card-body -->
                <div class="card-footer bd-t tx-center">
                  Visión
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-md mg-t-20 mg-md-t-0">
              <div class="card">
                <div class="card-body">
                  <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
                </div><!-- card-body -->
                <div class="card-footer bd-t tx-center">
                  ¿Qué hacemos actualmente? 
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- section-wrapper -->

        <div class="section-wrapper mg-t-20">
          <label class="section-title">¿Qué es lo que hacemos?</label>
          <p class="mg-b-20 mg-sm-b-40">A continuación podrás conocer el proceso de compra y la forma en como adiquirías el producto a la puerta de tu casa</p>

          <div class="row">
            <div class="col-md-6">
              <div class="list-group">
                <div class="list-group-item pd-y-20">
                  <div class="media">
                    <div class="d-flex mg-r-10 wd-50">
                      <i class="icon ion-person-stalker tx-primary tx-40 tx"></i>
                    </div><!-- d-flex -->
                    <div class="media-body">
                      <h6 class="tx-inverse">Alianza</h6>
                      <p class="mg-b-0">Formamos un equipo con los artistas de nuestro país, Guatemala.</p>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
                <div class="list-group-item pd-y-20">
                  <div class="media">
                    <div class="d-flex mg-r-10 wd-50">
                      <i class="icon ion-images tx-primary tx-40"></i>
                    </div><!-- d-flex -->
                    <div class="media-body">
                      <h6 class="tx-inverse">Creamos</h6>
                      <p class="mg-b-0">Conocemos su arte y su historia y en base a esto, nos encargamos de crear un espacio exclusivamente para él.</p>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
                <div class="list-group-item pd-y-20">
                  <div class="media">
                    <div class="d-flex mg-r-10 wd-50">
                      <i class="icon ion-reply-all tx-primary tx-40"></i>
                    </div><!-- d-flex -->
                    <div class="media-body">
                      <h6 class="tx-inverse">Damos a conocer</h6>
                      <p class="mg-b-0">Publicamos sus productos en nuestra página con el objetivo de llegar a miles de personas en cualquier rincón del mundo.</p>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
              </div><!-- list-group -->
            </div><!-- col-md-6 -->

            <div class="col-md-6 mg-t-20 mg-md-t-0-force">
              <div class="list-group">
                <div class="list-group-item pd-y-20">
                  <div class="media">
                    <div class="media-body">
                      <h6 class="tx-inverse">Lo llevamos a tu puerta</h6>
                      <p class="mg-b-0">Sin importar donde te encuentres, hacemos el proceso de exportación por tí y te brindamos los mejores y más económicos precios de trasporte.</p>
                    </div><!-- media-body -->
                    <div class="d-flex mg-l-10 wd-50">
                      <i class="fa fa-plane tx-primary tx-40"></i>
                    </div><!-- d-flex -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
                <div class="list-group-item pd-y-20">
                  <div class="media">
                    <div class="media-body">
                      <h6 class="tx-inverse">Pendiente</h6>
                      <p class="mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
                    </div><!-- media-body -->
                    <div class="d-flex mg-l-10 wd-50">
                      <i class="fa fa-folder-open-o tx-primary tx-40"></i>
                    </div><!-- d-flex -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
                <div class="list-group-item pd-y-20">
                  <div class="media">
                    <div class="media-body">
                      <h6 class="tx-inverse">Pendientr</h6>
                      <p class="mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
                    </div><!-- media-body -->
                    <div class="d-flex mg-l-10 wd-50">
                      <i class="fa fa-tv tx-primary tx-40"></i>
                    </div><!-- d-flex -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
              </div><!-- list-group -->
            </div><!-- col-md-6 -->
          </div><!-- row -->
        </div><!-- section-wrapper -->


        

        
        <h6 class="section-title">¿Quiénes somos?</h6>
        <div class="manager-wrapper" style="margin-left: -21px">
            <div class="manager-right">
              <div class="row row-sm">        
                <!-- contactos -->
                <div class="col-sm-6 col-lg-4">
                  <div class="card-contact">
                    <div class="tx-center">
                      <a href=https://www.facebook.com/photo.php?fbid=10210451923718781&set=pb.1364834074.-2207520000.1553481900.&type=3&theater><img src=https://scontent.flim5-4.fna.fbcdn.net/v/t1.0-9/20245779_10210451923718781_1238019966895275973_n.jpg?_nc_cat=106&_nc_ht=scontent.flim5-4.fna&oh=d267d639d62bbf2d0186fd0cb8aa799b&oe=5D43D6E9 class="card-img" alt=""></a>
                      <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">María Mercedes Retolaza</a></h5>
                      <p>Gerente de Desarrollo</p>
                      <p class="contact-social">
                        <a href=https://www.facebook.com/MercedesRetolaza><i class="fa fa-facebook"></i></a>
                        <a href=https://www.google.com/search?q=maria+mercedes+retolaza+reyna&rlz=1C1SQJL_esGT778GT778&oq=maria+mercedes+retolaza+reyna&aqs=chrome..69i57.4518j0j4&sourceid=chrome&ie=UTF-8><i class="fa fa-google"></i></a>
                      </p>
                    </div><!-- tx-center -->
                    <p class="contact-item">
                      <span>Teléfono de contacto:</span>
                      <span>+502 4300 0805</span>
                    </p><!-- contact-item -->
                    <p class="contact-item">
                      <span>Correo electrónico:</span>
                      <a>mretolaza@wcgt.com</a>
                    </p><!-- contact-item -->
                  </div><!-- card -->
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
                  <div class="card-contact">
                    <div class="tx-center">
                      <a href=https://www.facebook.com/photo.php?fbid=10214706371277311&set=pcb.10214706371837325&type=3&theater><img src=https://scontent.flim5-4.fna.fbcdn.net/v/t1.0-9/54730919_10214706371317312_7905884977651253248_n.jpg?_nc_cat=108&_nc_ht=scontent.flim5-4.fna&oh=873c20f9ea580cc1c129d45571f81502&oe=5D0D9A37 class="card-img" alt=""></a>
                      <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Alberto Andrés Urizar</a></h5>
                      <p>CEO de WhatCraft</p>
                      <p class="contact-social">
                        <a href=https://www.facebook.com/albertoandres.urizar><i class="fa fa-facebook"></i></a>
                        <a href=https://www.google.com/search?safe=active&rlz=1C1SQJL_esGT778GT778&ei=0UCYXKOpMOnt5gL4sJnABw&q=alberto+andres+urizar&oq=alberto+andres+urizar&gs_l=psy-ab.3..33i160l2.37530.40305..40465...0.0..1.446.2277.0j10j1j1j1......0....1..gws-wiz.......0j0i203j0i22i30.1b2KwyqlN74><i class="fa fa-google"></i></a>
                      </p>
                    </div><!-- tx-center -->
  
                    <p class="contact-item">
                      <span>Teléfono de contacto:</span>
                      <span>+502 4762 2485</span>
                    </p><!-- contact-item -->
                    <p class="contact-item">
                      <span>Correo electrónico:</span>
                      <a>aurizar@wcgt.com</a>
                    </p><!-- contact-item -->
                  </div><!-- card -->
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
                  <div class="card-contact">
                    <div class="tx-center">
                      <a href=https://www.facebook.com/photo.php?fbid=10214706371157308&set=pcb.10214706371837325&type=3&theater><img src=https://scontent.flim5-4.fna.fbcdn.net/v/t1.0-9/55508106_10214706371237310_7131242511481176064_n.jpg?_nc_cat=102&_nc_ht=scontent.flim5-4.fna&oh=7614ef7e2134d514c1b52a6149c149f6&oe=5D01EC06 class="card-img" alt=""></a>
                      <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Gustavo de León</a></h5>
                      <p>Gerente de Relaciones Internacionales</p>
                      <p class="contact-social">
                        <a href=https://www.facebook.com/gustavo.deleon.33><i class="fa fa-facebook"></i></a>
                        <a href=https://www.google.com/search?q=gustavo+de+leon&rlz=1C1SQJL_esGT778GT778&oq=gustavo+de+leon&aqs=chrome..69i57j69i60l3j0l2.2117j0j4&sourceid=chrome&ie=UTF-8><i class="fa fa-google"></i></a>
                      </p>
                    </div><!-- tx-center -->
  
                    <p class="contact-item">
                      <span>Teléfono de contacto:</span>
                      <span>+502 3524 1536</span>
                    </p><!-- contact-item -->
                    <p class="contact-item">
                      <span>Correo electrónico:</span>
                      <a>gleon@wcgt.com</a>
                    </p><!-- contact-item -->
                  </div><!-- card -->
                </div><!-- col -->
               <!-- fin de contactos -->
        </div><!-- container -->
    <div class="slim-footer">
      <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved. UVG Dashboard Template</p>
        <p>Designed by: <a href="">UVG</a></p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>

    <script src="../js/slim.js"></script>
  </body>
</html>